#calculator {
  margin: auto;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

#display {
  width: 95%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: right;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button {
  width: 60px;
  height: 40px;
  margin: 3px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ddd; /* Default background color */
}

.button:hover {
  background-color: #f0f0f0;
}

.operator {
  background-color: #f9f9f9;
}
